{% extends 'appCore/home.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
    {% load static %}
    <div class="container">
        <header class="row bg-black">
            <div class="col-md-4 my-auto">
                <img src="{% static 'public/appMy_Portfolio_and_Projects/JSC.jpeg' %}" alt="JSC" class="img-JSC"/>
                <h1 class="text-white">Javic Soft Code</h1>
            </div>

            <div class="col-md-8 my-auto p-0">
                <h2 align="left">¡Hola! 👋 Mi nombre es Javier</h2><br>

                <img align="right" height="200" style="border-radius: 8; margin-top: -70px; padding-left: 20px;"
                     src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXQ4dHQ2MDA4YWg3N281MGV0YXV0NDR3M3Z4Z3Zkb3duczFuazIwcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qgQUggAC3Pfv687qPC/giphy.gif"
                     alt="JSC"/>

                <p class="justif-interlineado">¡Hola! Soy Javier, un estudiante en constante progreso de aprendizaje,
                    por
                    adquirir nuevos conocimientos, e
                    desarrolado proyectos tanto como el Frontend y el Backend, proyectos tantos personales y
                    academicos.</p>

                <div align="left" class="tech-logos justif-interlineado">
                    <div class="logo-wrapper" title="HTML5">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                             height="30"
                             alt="html5 logo"/>
                    </div>
                    <div class="logo-wrapper" title="CSS3">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="30"
                             alt="css3 logo"/>
                    </div>
                    <div class="logo-wrapper" title="JavaScript">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                             height="30" alt="javascript logo"/>
                    </div>
                    <div class="logo-wrapper" title="Python">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
                             height="30"
                             alt="python logo"/>
                    </div>
                    <div class="logo-wrapper" title="NPM">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg"
                             height="30"
                             alt="npm logo"/>
                    </div>
                    <div class="logo-wrapper" title="Node.js">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
                             height="30"
                             alt="nodejs logo"/>
                    </div>
                    <div class="logo-wrapper" title="Django">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg"
                             height="30"
                             alt="django logo"/>
                    </div>
                    <div class="logo-wrapper" title="Express">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg"
                             height="30" alt="express logo" style="filter: brightness(0) invert(1);"/>
                    </div>
                    <div class="logo-wrapper" title="PostgreSQL">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
                             height="30" alt="postgresql logo"/>
                    </div>
                    <div class="logo-wrapper" title="Git">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" height="30"
                             alt="git logo"/>
                    </div>
                    <div class="logo-wrapper" title="GitHub">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                             height="30"
                             alt="github logo" style="filter: brightness(0) invert(1);"/>
                    </div>
                    <div class="logo-wrapper" title="PyCharm">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pycharm/pycharm-original.svg"
                             height="30"
                             alt="pycharm logo"/>
                    </div>
                </div>
                <br>

                <h3>Tecnologías que he estudiado</h3>
                <ul class="justif-interlineado">
                    <li><strong>Lenguajes:</strong> JavaScript, Python</li>
                    <li><strong>Frameworks/Librerías:</strong> Node.js, Express, Django</li>
                    <li><strong>Frontend:</strong> HTML5, CSS3, JavaScript (para el desarrollo web)</li>
                    <li><strong>Backend:</strong> Node.JS, Django (para el lado del servidor)</li>
                    <li><strong>Bases de datos:</strong> PostgreSQL</li>
                    <li><strong>Herramientas:</strong> Git, GitHub, PyCharm</li>
                    <li><strong>Paradigmas:</strong> Programación Orientada Objetos ( POO )</li>
                    <li><strong>Otros:</strong> Electron (lo usé brevemente para el desarrollo de aplicaciones)</li>
                </ul>

                <h3>Habilidades</h3>
                <ul class="justif-interlineado">
                    <li>Competente en JavaScript, Python, Node.js y Express para el desarrollo backend.</li>
                    <li>Experiencia en el uso de Django y PostgreSQL para construir aplicaciones web robustas.</li>
                    <li>Habilidad en el control de versiones con Git y en hospedar proyectos en GitHub.</li>
                    <li>Familiarizado con el uso de PyCharm para el desarrollo en Python y Electron para aplicaciones de
                        escritorio.
                    </li>
                </ul>

                <h3>Contáctame</h3>
                <div align="left">
                    <a href="mailto:ing.javiersistem02ejqp@gmail.com" target="__blank">
                        <img src="https://img.shields.io/static/v1?message=Gmail&logo=gmail&label=&color=D14836&logoColor=white&labelColor=&style=for-the-badge"
                             height="35" alt="logo de gmail"/>
                    </a>

                    <a href="https://paypal.me/SistemJavic16?country.x=EC&locale.x=es_XC" target="__blank">
                        <img src="https://img.shields.io/static/v1?message=PayPal&logo=paypal&label=&color=00457C&logoColor=white&labelColor=&style=for-the-badge"
                             height="35" alt="logo de paypal"/>
                    </a>
                </div>
            </div>
        </header>
    </div>

     <div class="row my-4 text-center">
        <h3>Mis Proyectos</h3>
        {% if projects %}
            {% for project in projects %}
                <div class="col-md-4 p-4 ">
                    <div class="card bg-black card-project">
                        <img src="{{ project.image.url }}" class="card-img-top img-size-portfolio"
                             alt="{{ project.title }}"/>
                        <div class="card-body ">
                            <h2>{{ project.title }}</h2>
                            <p>{{ project.description }}</p>
                            {% if project.url %}
                                <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm " target="__blank"
                                   rel="noreferrer">Visitar
                                    el Proyecto</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay proyectos disponibles.</p>
        {% endif %}
    </div> <br>

    <div class="row my-4 text-center">
        <h3>Mis Cursos</h3>
        {% if cursos %}
            {% for curso in cursos %}
                <div class="col-md-4 p-4">
                    <div class="card bg-black card-project">
                        <div class="card-body">
                            <h2>{{ curso.institution_of_the_course }}</h2>
                            <p class="justif-interlineado"><strong>Descripción:</strong> {{ curso.course_description }}</p>
                            <p><strong>Fecha:</strong> {{ curso.course_date }}</p>
                            <p><strong>Horas:</strong> {{ curso.number_of_hours }} horas</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay cursos disponibles.</p>
        {% endif %}
    </div>

{% endblock %}
