<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Cambiar Contraseña</h2>
        {% if verification_code_sent %}
            <form method="post">
                {% csrf_token %}
                <label for="verification_code">Código de verificación:</label>
                <input type="text" name="verification_code" required>
                <button type="submit">Verificar Código</button>
            </form>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cambiar Contraseña</button>
            </form>
        {% endif %}
        <p>¿Ya tienes una cuenta? <a href="{% url 'accounts:signin' %}">Iniciar sesión</a></p>
    </div>
</body>
</html>
