{% extends 'appCore/home.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms_Accounts.css' %}">
{% block content %}
<main class="mainContent bg-black">
    <div class="container bg-black">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-2 bg-black">
                    <div class="card-header">
                        <h3 class="text-center font-weight-bold my-1 h3">Registrarte</h3>
                    </div>
                    <div class="card-body bg-black">
                        <form method="POST" action="{% url 'accounts:signup' %}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.email.errors }}  <!-- Muestra errores para el campo de correo -->
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                {{ form.first_name.errors }}  <!-- Muestra errores para el campo de nombre -->
                            </div>
                            <br>

                            <div class="form-group">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                                {{ form.last_name.errors }}  <!-- Muestra errores para el campo de apellido -->
                            </div>
                            <br>

                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}  <!-- Muestra errores para el campo de usuario -->
                            </div>
                            <br>

                            <div class="form-group">
                                {{ form.birth_day.label_tag }}
                                {{ form.birth_day }}
                                {{ form.birth_day.errors }}  <!-- Muestra errores para el campo de fecha de nacimiento -->
                            </div>
                            <br>

                            <div class="form-group">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                {{ form.password1.errors }}  <!-- Muestra errores para el campo de contraseña -->
                            </div>
                            <br>

                            <div class="form-group">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {{ form.password2.errors }}  <!-- Muestra errores para el campo de confirmación de contraseña -->
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn btn-primary-black btn-block">Crear Cuenta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
