{% extends 'appCore/home.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<h1 class="fs-2">Blogs</h1>
<h3>Actualmente hay " {{ total_blogs }} "  Blog{{ total_blogs|pluralize }}</h3>

{% for blog in blogs %}
<div class="py-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid img-size" src="{{ blog.image.url }}" alt="{{ blog.title }}">
            </div>
            <div class="col-9">
                <h4>{{ blog.title }}</h4>
                <p>{{ blog.description|striptags|truncatechars:100 }}</p>
                <p>{{ blog.date|date:'M d Y'|upper }}</p>
                <a href="{% url 'My_Blogs:blog_details' blog.id %}">{{ blog.title }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
